.form-container{
    margin-top: 50px;

    .form-inputs{
        margin-bottom: 40px;

        input {
            margin-left: 25px;
        }

        .fd {
            padding: 0 16px;
            border: none;
            background: var(--grey);
            border-radius: 36px;
            outline: none;
            height: 40px;
            width: 35%;
            color: var(--dark);
        }
        button{
            height: 36px;
            padding: 0 30px;
            border-radius: 36px;
            background: var(--blue);
            color: var(--light);
            display: flex;
            justify-content: center;
            align-items: center;
            grid-gap: 10px;
            font-size: 15px;
            font-weight: 500;
            border: none;
            cursor: pointer;
        }
    }
}